<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap mp desktop4">
  <Identity Name="49586DaveAntoine.SimpleWeather-Asimpleweatherapp" Publisher="CN=FC137F73-0421-4275-8C89-E761F4D1BC3D" Version="5.8.14.0" />
  <mp:PhoneIdentity PhoneProductId="06966ad9-299e-4a4c-8204-576b8ada7455" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SimpleWeather - A simple weather app</DisplayName>
    <PublisherDisplayName>Dave Antoine</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22200.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22200.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="de"/>
    <Resource Language="en"/>
    <Resource Language="es"/>
    <Resource Language="fr"/>
    <Resource Language="nl"/>
    <Resource Language="pl"/>
    <Resource Language="sk"/>
    <Resource Language="zh-Hans"/>
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="SimpleWeather" Square150x150Logo="Assets\Square150x150Logo.png" Description="SimpleWeather" BackgroundColor="transparent" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  />
      </uap:VisualElements>
      <Extensions>
        <!--Specify which CLSID to activate when toast clicked-->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="AD1F464A-5E86-4CC9-A6B4-63CDB416CDED" />
        </desktop:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="SimpleWeather.BackgroundTasks.BackgroundTask">
          <BackgroundTasks uap4:SupportsMultipleInstances="true">
            <Task Type="systemEvent"/>
            <Task Type="general"/>
            <Task Type="deviceServicing"/>
            <Task Type="timer"/>
            <Task Type="deviceUse"/>
          </BackgroundTasks>
        </Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <!--Register COM CLSID LocalServer32 registry key-->
            <com:ExeServer Executable="SimpleWeather.Windows.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
              <com:Class Id="AD1F464A-5E86-4CC9-A6B4-63CDB416CDED" DisplayName="Toast activator"/>
            </com:ExeServer>
            <!-- NOTE: make sure to update your package SID here to explicitly allow activation from AppContainer context -->
            <!-- 0x11 = (COM_RIGHTS_EXECUTE | COM_RIGHTS_EXECUTE_LOCAL | COM_RIGHTS_ACTIVATE_LOCAL) -->
            <!-- O:PSG:BU   Owner: principal self, Group: Built-in users -->
            <!-- (A;;0x11;;;IU) Allow SDDL_INTERACTIVE -->
            <!-- (A;;11;;;S-1-15-3-2348949857-2020245415-1037339150-2736345358-663409332-3328911834-2849561672)S:(ML;;NX;;;LW) is this package (WinAppSDKApp.Package) SID -->
            <com:ExeServer
                Executable="SimpleWeather.Windows.exe"
                Arguments="-RegisterProcessAsComServer"
                LaunchAndActivationPermission="O:PSG:BUD:(A;;11;;;IU)(A;;11;;;S-1-15-2-2670365806-2911716598-2260801434-585721284-1716833224-1671719374-3724409756)S:(ML;;NX;;;LW)">
              <com:Class Id="E3E44B22-74AE-47CE-A507-6EBE2F832B8F" />
              <!-- Widget Provider -->
              <com:Class Id="1D453922-87B3-41AB-9D61-1A73C4360E71" DisplayName="Widget provider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <!-- Widget Provider -->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="SimpleWeather" Id="SimpleWeatherWidgetApp" PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\Square44x44Logo.png" />
                </ProviderIcons>
                <Activation>
                  <!-- Apps exports COM interface which implements IWidgetProvider -->
                  <CreateInstance ClassId="1D453922-87B3-41AB-9D61-1A73C4360E71" />
                </Activation>
                <TrustedPackageFamilyNames>
                  <TrustedPackageFamilyName>Microsoft.MicrosoftEdge.Stable_8wekyb3d8bbwe</TrustedPackageFamilyName>
                </TrustedPackageFamilyNames>
                <Definitions>
                  <Definition Id="Weather_Widget" DisplayName="SimpleWeather" Description="SimpleWeather Widget" AllowMultiple="false" IsCustomizable="false">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\AppLogo.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\WeatherWidget_Screenshot_light.png" DisplayAltText="SimpleWeather Weather Widget"  />
                      </Screenshots>
                      <!-- DarkMode and LightMode are optional -->
                      <DarkMode>
                        <Screenshots>
                          <Screenshot Path="Assets\WeatherWidget_Screenshot_dark.png" DisplayAltText="SimpleWeather Weather Widget"  />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Screenshots>
                          <Screenshot Path="Assets\WeatherWidget_Screenshot_light.png" DisplayAltText="SimpleWeather Weather Widget"  />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
    <DeviceCapability Name="location" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>WinRT.Host.dll</Path>
        <ActivatableClass ActivatableClassId="SimpleWeather.BackgroundTasks.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>
